/* primary */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* accent */
@font-face {
  font-family: "RoundedFixedsys";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

/* code */
@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
